/* mobile first */

*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

body{
    background-image: url(./imagens/back-phone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

main{
    margin:auto;
    background-color:rgba(245, 245, 245, 0.801);
    width:90vw;
    border-radius: 10px;
}

h1{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 251, 251);
}


img#phone{
    display: block;
    margin: auto;
}

img#tablet{
    display: none;
}

img#tv{
    display: none;
}

img#print{
    display: none;
}

img#pc{
    display: none;
}