*{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-size:1rem;
}

body,html{
    background-color: #f1e4e4;
}

header{
    background-color:rgb(238, 217, 217);
    text-align:center;
}

header h1{
    font-size:1.8rem;
}

menu{
    display:block;
    background-color:rgb(190, 181, 181);
}

menu ul li{
    border-bottom:1px solid rgb(226, 215, 215);
    padding-top:1vh;
    padding-bottom:1vh;
}

menu ul li a{
    text-decoration:none;
    color:white;
}

article h2{
    text-align:center;
}

article{
    background-color:white;
    margin:2vw
}

article p{
    text-align:center;
}

i#burguer{
    color:white;
    background-color:black;
    width:100%;
    display:block;
    text-align:center;
    padding:10px;
}

i#burguer:hover{
    cursor:pointer;
    background-color:rgb(121, 119, 119);
}

menu ul{
    display:none;
}